*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #b6b4b4

}

.available-languages-container div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    padding: 1rem;

    background-color: rgba(10, 10, 12, 0.541);
}

.available-languages-container div button{
    background-color: rgba(90, 60, 220, 0.1);
    box-shadow: 0 0 8px rgba(90, 60, 220, 0.3);

    color: rgba(208, 236, 252, 0.7);


    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
