.item-container{
    padding: 2rem;

    border: 1px solid white;

    width: 25%;
    height: 50vh;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}